{
  "presets": ["env", "react"],
  "plugins" : [
    "transform-async-to-generator",
    [
      "module-resolver",
      {
        // root 폴더 설정
        "root": "./src",
        "alias": {
          "components": "./src/components",
          "containers": "./src/containers",
          "actions": "./src/actions",
          "pages": "./src/pages",
          "data": "./src/data"
        }
      }      
    ]
  ]
}