.RunExample__wrapper{
  display: flex;
}

.RunExample__highlighter {
  flex-grow: 1;
}

.RunExample__buttonWrapper {
  display: flex;
  margin-top: 0.438rem; // 7px
  margin-bottom: 0.438rem; // 7px
}